.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.25);
    height: 600px;
    border-radius: 10px;
    margin-top: 30px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.avatar {
    width: 250px;
    border-radius: 50%;
    padding: 10px;
    margin-top: 25px;
    background-color: #81e29e;
}

.name {
    font-weight: 700;
    font-size: 24px;
}

.tag, 
.location {
    font-weight: 500;
    font-size: 18px;
}

.stats {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    background-color: rgb(158, 209, 224);
    margin: 5px;
    border: lightgray;
    border-radius: 5px;
}

.stats li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 50px;
}

.label {
    font-weight: 600;
}
.quantity {
    font-weight: 600;
    font-size: 24px;
}



